.logo-container {
	width: 50%;
	padding-right: 10px;
}

.logo {
	height: 50px;
}

		
.home-section {
	float: left;
	padding: 50px;
	z-index: 999999;
	color: #fff;
	position: absolute;
	overflow: auto;
	font-family: 'Bad Script', cursive;
}
.home {
	font-family: 'Raleway', sans-serif; 
}
#name {
	font-size: 80px;	
	z-index: 999999;
	color: #fff;
}
#subtitle {
	text-align: left;
	font-family: 'Bad Script', cursive;
}
.bulb-contain {
	overflow: auto;
	height: 350px;
}
.bulb {
	width: 140%;
	height: 350px;
	object-fit: cover;
	overflow: hidden;
	}
.about {
	background-color: #4B5F6D;
	height: 340px;
	text-align: center;
	float: left;
	font-family: 'Raleway', sans-serif;
}
.story {
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
p {
	color: #fff;
	font-family: 'Raleway', sans-serif;		
}
		.resume {
			text-decoration: none;
			color: #FEB41C;
			font-weight: bold;
			font-family: 'Raleway', sans-serif;
			text-align: center;
		}
	
.hold {
	display: -webkit-flex;
	display: -flex;
	align-items: center;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
}
.label:before{
	content:'\00B7';
	padding-right:5px;
	}

		.label{ 
			display: inline-block;
			padding-right:5px;
		}
		
		#lab {
			display: inline-block;
			text-decoration: none;
			list-style-type: none;
		}


.skills {	
	width: 100%;
	height: 500px;
	float: left;
	margin-top: 50px;
	text-align: center;
}
		.skill-img {
		// height: 500px;
		width: 80%;
		// margin-top: 50px;
	}
	


@media (min-width: 385px) {
	
.about {
	background-color: #4B5F6D;
	height: 340px;
	text-align: center;
	float: left;
	font-family: 'Raleway', sans-serif;
}
	.story {
		color: #fff;
		font-family: 'Raleway', sans-serif;
		padding-top: 70px;
	}
		p {
			color: #fff;
			font-family: 'Raleway', sans-serif;
			padding-right: 50px;
			padding-left: 50px;
			overflow: auto;
			
		}

	.bulb-contain{
		height: 400px;
		overflow: auto;
	}
	.bulb {
			height: 450px;
			width: 110%;
			text-align: center;
		}
}

@media (min-width: 700px) {
	h1 {
		font-size: 50px;

		}
	#name {
		font-size: 90px;
	}
	.bulb-contain{
		height: 400px;
		overflow: auto;
	}
	.bulb {
			height: 450px;
			width: 110%;
		}
	p {
			color: #fff;
			font-family: 'Raleway', sans-serif;
			padding-right: 400px;
			padding-left: 400px;
			
		}
	
}