#box div{
	margin-left: 18px;

}
#box img {
	height: 400px;
	width: 465px;
}

#box { 
	margin-right: 28px;
		display: -webkit-flex;
		display: -flex;
		-webkit-justify-content: space-around;
		justify-content: space-around;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-align-content: space-between;
		align-content:space-between;
 }


@media (min-width: 760px) {
	#box div{
		/*margin-left: 10px;*/
		width: 100px;
	}
	#box {
		margin-right: 28px;
		display: -webkit-flex;
		display: -flex;
		/*-webkit-justify-content: space-around;
		justify-content: space-around;*/
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		
		/*width: 200px;
		height: 150px;
		margin-left: 0px;*/
		}
}
/*@media (min-width: 950px) {
	#box { 
		margin-left: 190px;
	}
	#box img {
		width: 40%;
		height: 480px;
		margin: 33px;
	}
	.html{
		padding-top: 20px;
	}
	.skill-img {
		width: 800px;
		padding-left: 60px;
	}
}*/